body{
  margin:0;
  padding: 10px 100px;
}
.slides{
  height: 300px;
  overflow: hidden;
  position: relative;
}

.view{
  height: 100%;
  background: #ddd;
  overflow: visible;
  display: flex;
  transition: transform 1s;
}

.slide{
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
}

.slides>.controls{
  position: absolute;
  bottom:0;
  list-style:none;
  left:50%;
  display:flex;
}
li{
border:1px solid;
border-radius:50%;
height:1.2em;
width:1.2em;
text-align:center;
margin:0 2px;
transform:translate(-365%,0%)
}
/* 用户的css*/
.slide{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.slide{
  background: #aaa;
}
.slide:nth-child(2){
  background: #ccc;
}
.slide:nth-child(3){
  background: #eee;
}