body{
  margin:0;
  padding: 10px 100px;
}
.slides{
  height: 300px;
  overflow: hidden;
  position: relative;
}

.view{
  height: 100%;
  background: #ddd;
  overflow: visible;
  display: flex;
  transition: transform 1s;
}

.slide{
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
}

.slides>.controls{
  position: absolute;
  bottom:0;
  list-style:none;
  left:50%;
  display:flex;
}
li{
  border:1px solid;
  border-radius:50%;
  height:1.2em;
  width:1.2em;
  text-align:center;
  margin:0 2px;
  font-size:10px;
  background:rgba(255,255,255,0.5);
  transform:translate(-485%,0%)
}
.active{
  background:black;
  color:white;
  border-color:black;
}
/* 用户的css*/
.slide{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.slide{
  background: #aaa;
}
.slide:nth-child(2){
  background: #ccc;
}
.slide:nth-child(3){
  background: #eee;
}